# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini


# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

JdS/Temp/
JdS/Library/
JdS/Library/CurrentLayout.dwlt
JdS/Library/CurrentLayout.dwlt
JdS/Library/assetDatabase3
JdS/Library/EditorUserBuildSettings.asset
JdS/Library/expandedItems
JdS/Library/guidmapper
JdS/Temp/__EditModeScene
JdS/Temp/UnityLockfile
JdS/Temp/tempFile.res
JdS/Temp/StagingArea/JdS_0.2a_Data/sharedassets1.assets
JdS/Temp/StagingArea/JdS_0.2a_Data/sharedassets0.assets
JdS/Temp/StagingArea/JdS_0.2a_Data/Resources/unity_builtin_extra
JdS/Temp/tempFile.resG
JdS/Temp/__BuildPlayer Backupscene
JdS/Temp/StagingArea/JdS_0.2a_Data/resources.assets
JdS/Temp/StagingArea/JdS_0.2a_Data/Resources/unity default resources
JdS/Temp/StagingArea/JdS_0.2a_Data/Mono/etc/mono/mconfig/config.xml
JdS/Temp/StagingArea/JdS_0.2a_Data/Mono/etc/mono/config
JdS/Temp/StagingArea/JdS_0.2a_Data/Mono/etc/mono/2.0/settings.map
JdS/Temp/StagingArea/JdS_0.2a_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
JdS/Library/assetDatabase3
JdS/Assets/salvo/save.sg
JdS/Assets/salvo/save.sg
JdS/Library/CurrentLayout.dwlt
JdS/Library/metadata/3c/3c872c8b4fdc2a3478847ba7b21d382a
JdS/Library/metadata/a8/a8e296356551cb0419999996071420f1